{{define "layout"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>flame chat</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>

<body>
  <div class="container">
    <h1>flame chat</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/conversations">Conversations</a>
      <a href="/messages">Messages</a>
      <a href="/signup">Signup</a>
      <a href="/login">Login</a>
      <a method="delete" href="/logout">Logout</a>
    </nav>
  
    <main>
      {{template "content" .}}
    </main>
  </div>
</body>

</html>

{{end}}